env/
.vscode/
PureBeurre/PureBeurre/__pycache__/
PureBeurre/users/__pycache__/
PureBeurre/products/__pycache__/
PureBeurre/pages/__pycache__/
PureBeurre/search/__pycache__/
PureBeurre/favorites/__pycache__/
PureBeurre/profiles/__pycache__/
PureBeurre/favorites/migrations/__pycache__/
PureBeurre/pages/migrations/__pycache__/
PureBeurre/products/migrations/__pycache__/
PureBeurre/profiles/migrations/__pycache__/
PureBeurre/search/migrations/__pycache__/
PureBeurre/users/migrations/__pycache__/
base_de_donnees_p8.png
