env/
.vscode/
PureBeurre/PureBeurre/__pycache__/
PureBeurre/users/__pycache__/
PureBeurre/products/__pycache__/
PureBeurre/pages/__pycache__/
PureBeurre/search/__pycache__/
PureBeurre/favorites/__pycache__/
PureBeurre/profiles/__pycache__/