{% extends "base.html" %}
{% load static %}

{% block title %}Produits favoris{% endblock %}

{% block css_links %}
<link href="{% static 'favorites/css/favorites.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
    <header class="masthead">
    <div class="container header-title pb-5">
        <h1 class="d-block text-center text-white">Vos favoris</h1>
    </div>
    <div class="results bg-white">
        <div class="container">
            <div class="row d-flex justify-content-between text-center">
            {% if not favorites%}
            <p> Vous n'avez encore substitué aucun produit !</p>
            {% else %}
            {% for fav in favorites%}
                <div class="p-2 mb-5 mx-lg-2 product-card bg-light border rounded col-lg-3 col-md-5 col-8 offset-2 offset-md-0">
                    <img class="img-fluid product-img rounded mb-1" src="{{fav.substitute.image_url}}">
                    <a class="d-block mb-2"href="{% url 'detail' pk=fav.substitute.barcode %}"> {{fav.substitute.product_name}} - {{fav.substitute.brand}}</a>
                    <p>Substitut de :</p>
                    <a class="d-block mb-2"href="{% url 'detail' pk=fav.product.barcode %}"> {{fav.product.product_name}} - {{fav.product.brand}}</a>
                </div>
            {%endfor%}
            {% endif %}
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block javascript_scripts %}
{% endblock %}