header.masthead
{
    background: url("../images/home_picture.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;

}

.container
{
    position:relative;
}
.welcome
{
    background-color:rgb(46,126,50);
    color:white;
    width:max-content;
    position:fixed;
    left:20px;
    padding:0.2em;
    bottom:0;
    z-index:12;

}