header.masthead
{
    background: url("../images/home_picture.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;

}

.container
{
    position:relative;
}
.welcome-user
{
    background-color:greenyellow;
    display:inline-block;
    color:white;
    position:absolute;
    margin:auto;
    bottom:0;

}